torch==2.4.1
transformers==4.44.2
datasets==2.21.0
tokenizers==0.19.1
scikit-learn==1.5.2
spacy==3.7.6
scispacy==0.5.4
mlflow==2.16.2
wandb==0.18.1
fastapi==0.115.0
uvicorn==0.30.6
pydantic==2.9.2
pyspark==3.5.3
pandas==2.2.3
numpy==1.26.4
python-dotenv==1.0.1
accelerate==0.34.2
evaluate==0.4.3
seqeval==1.2.2
